atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
coverage==4.5.1
idna==2.7
more-itertools==4.3.0
pkginfo==1.4.2
pluggy==0.7.1
py==1.6.0
pytest==3.8.0
pytest-cov==2.6.0
requests>=2.20.0
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.26.0
twine==1.11.0
urllib3==1.24.2
